.tb-megamenu {
  background-color: #000;
}
.tb-megamenu .nav > li > a,
.tb-megamenu .nav > li > span.tb-megamenu-no-link {
  border-bottom: 0;
  border-right: 1px solid #222;
  border-top: 0;
  color: #fff;
  font-weight: bold;
  padding: 15px 20px;
  text-shadow: none;
}
.tb-megamenu .nav > li > a:focus,
.tb-megamenu .nav > li > a:hover,
.tb-megamenu .nav > li > span.tb-megamenu-no-link:focus,
.tb-megamenu .nav > li > span.tb-megamenu-no-link:hover {
  background-color: #fff;
  color: #e54e4b;
  text-decoration: none;
  text-shadow: none;
  outline: none;
}
.tb-megamenu .nav > .active > a,
.tb-megamenu .nav > .active > a:hover,
.tb-megamenu .nav > .active > a:focus,
.tb-megamenu .nav > .active > span.tb-megamenu-no-link,
.tb-megamenu .nav > .active > span.tb-megamenu-no-link:hover,
.tb-megamenu .nav > .active > span.tb-megamenu-no-link:focus {
  background-color: #e54e4b;
  color: #fff;
  text-shadow: none;
  box-shadow: none;
  outline: none;
}
.tb-megamenu .btn-navbar {
  display: none;
  float: left;
  padding: 10px;
  margin: 0;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #e8e8e8;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
}
.tb-megamenu .btn-navbar:hover,
.tb-megamenu .btn-navbar:focus,
.tb-megamenu .btn-navbar:active,
.tb-megamenu .btn-navbar.active,
.tb-megamenu .btn-navbar.disabled,
.tb-megamenu .btn-navbar[disabled] {
  color: #fff;
  background-color: #d9d9d9;
  *background-color: #cccccc;
}
.tb-megamenu .btn-navbar:active,
.tb-megamenu .btn-navbar.active {
  background-color: #bfbfbf \9;
}
.tb-megamenu .btn-navbar [class^="fa-"],
.tb-megamenu .btn-navbar [class^=" fa-"] {
  color: #666;
  text-shadow: none;
}
.tb-megamenu .dropdown .caret {
  margin-left: 5px;
  margin-top: 9px;
}
.tb-megamenu .dropdown-menu {
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.tb-megamenu .dropdown-menu li > a,
.tb-megamenu .dropdown-menu li > span.tb-megamenu-no-link {
  border-bottom: 0;
  border-top: 1px solid #eee;
  padding: 5px 20px;
  text-shadow: none;
}
.tb-megamenu .dropdown-menu li:first-child > a,
.tb-megamenu .dropdown-menu li:first-child > span.tb-megamenu-no-link {
  border-top: 0;
}
.tb-megamenu .mega-nav > li:first-child > a,
.tb-megamenu .dropdown-menu .mega-nav > li:first-child > a,
.tb-megamenu .mega-nav > li:first-child > span.tb-megamenu-no-link,
.tb-megamenu .dropdown-menu .mega-nav > li:first-child > span.tb-megamenu-no-link {
  margin-top: 0;
  padding-top: 0;
}
.tb-megamenu .nav > li > .dropdown-menu:before {
  display: none;
}
.tb-megamenu .nav > li > .dropdown-menu:after {
  display: none;
}
.tb-megamenu .dropdown-menu .disabled > a,
.tb-megamenu .dropdown-menu .disabled > a:hover,
.tb-megamenu .dropdown-menu .disabled > span.tb-megamenu-no-link,
.tb-megamenu .dropdown-menu .disabled > span.tb-megamenu-no-link:hover {
  color: #999;
}
.tb-megamenu .dropdown-menu .disabled > a:hover,
.tb-megamenu .dropdown-menu .disabled > span.tb-megamenu-no-link:hover {
  background-color: transparent;
}
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
  background-color: #fff;
  color: #e54e4b;
}
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #e54e4b;
  color: #fff;
}
.tb-megamenu .mega-inner {
  padding: 10px;
}
.tb-megamenu .row-fluid + .row-fluid {
  border-top: 1px solid #ddd;
}
.tb-megamenu .mega-nav > li a,
.tb-megamenu .dropdown-menu .mega-nav > li a,
.tb-megamenu .mega-nav > li span.tb-megamenu-no-link,
.tb-megamenu .dropdown-menu .mega-nav > li span.tb-megamenu-no-link {
  padding: 5px 0;
}
.tb-megamenu .mega-nav .dropdown-submenu > a::after,
.tb-megamenu .mega-nav .dropdown-submenu > span.tb-megamenu-no-link::after {
  margin-right: 0;
}
.tb-megamenu .tb-block .block-title {
  font-size: 12px;
  color: #333;
  display: block;
  line-height: 20px;
  margin: 0 0 15px;
  text-transform: uppercase;
}
.tb-megamenu .tb-block ul,
.tb-megamenu .tb-block .nav {
  margin: 0;
}
.tb-megamenu .tb-block ul li,
.tb-megamenu .tb-block .nav li {
  background: none;
  list-style: disc;
  display: list-item;
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.tb-megamenu .tb-block ul li a,
.tb-megamenu .tb-block .nav li a,
.tb-megamenu .tb-block ul li span.tb-megamenu-no-link,
.tb-megamenu .tb-block .nav li span.tb-megamenu-no-link {
  display: inline;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  background: none;
  font: inherit;
  white-space: normal;
}
.tb-megamenu .tb-block ul li a:hover,
.tb-megamenu .tb-block ul li a:focus,
.tb-megamenu .tb-block ul li a:active,
.tb-megamenu .tb-block .nav li a:hover,
.tb-megamenu .tb-block .nav li a:focus,
.tb-megamenu .tb-block .nav li a:active,
.tb-megamenu .tb-block ul li span.tb-megamenu-no-link:hover,
.tb-megamenu .tb-block ul li span.tb-megamenu-no-link:focus,
.tb-megamenu .tb-block ul li span.tb-megamenu-no-link:active,
.tb-megamenu .tb-block .nav li span.tb-megamenu-no-link:hover,
.tb-megamenu .tb-block .nav li span.tb-megamenu-no-link:focus,
.tb-megamenu .tb-block .nav li span.tb-megamenu-no-link:active {
  background: none;
  font: inherit;
}
.tb-megamenu .mega-caption {
  color: #999;
  font-size: 12px;
  margin-top: 3px;
  font-weight: normal;
}


.tb-megamenu .caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}
.tb-megamenu .dropdown-menu li > a,
.tb-megamenu .dropdown-menu li > span.tb-megamenu-no-link {
  clear: both;
  color: #333;
  display: block;
  line-height: 20px;
  font-weight: normal;
  padding: 3px 20px;
  text-shadow: none;
  white-space: nowrap;
}
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
.tb-megamenu .nav > li.dropdown.open.active > a:hover,
.tb-megamenu .nav > li.dropdown.open.active > span.tb-megamenu-no-link:hover {
  background-color: #e54e4b;
  border-color: #444;
  color: #eee;
}
.tb-megamenu .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #666;
  border-bottom-color: #666;
  margin-top: 8px;
}
.tb-megamenu .nav li.dropdown > .dropdown-toggle:hover .caret {
  border-top-color: #eee;
  border-bottom-color: #eee;
}
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle .caret,
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle .caret,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #eee;
  border-bottom-color: #eee;
}
.tb-megamenu .dropup .caret {
  border-top: 0;
  border-bottom: 4px solid #000;
  content: "";
}
.tb-megamenu .dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
.tb-megamenu .dropdown-submenu {
  position: relative;
}
.tb-megamenu .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0;
}
.tb-megamenu .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.tb-megamenu .touch .dropdown-submenu:hover > .dropdown-menu {
  display: none;
}
.tb-megamenu .touch .dropdown-submenu.open > .dropdown-menu {
  display: block;
}
.tb-megamenu .dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  border-radius: 0;
}
.tb-megamenu .dropdown-submenu > a:after,
.tb-megamenu .dropdown-submenu > span.tb-megamenu-no-link:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.tb-megamenu .dropdown-submenu:hover > a:after,
.tb-megamenu .dropdown-submenu:hover > span.tb-megamenu-no-link:after {
  border-left-color: #eee;
}
.tb-megamenu .dropdown .dropdown-menu .nav-header {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 980px) and (max-width: 1199px) {
  .tb-megamenu input,
  .tb-megamenu textarea,
  .tb-megamenu .uneditable-input {
    margin-left: 0;
  }
  .tb-megamenu .controls-row [class*="span"] + [class*="span"] {
    margin-left: 40px;
  }
  .tb-megamenu input.span12,
  textarea.span12,
  .uneditable-input.span12 {
    width: 918px;
  }
  .tb-megamenu input.span11,
  textarea.span11,
  .uneditable-input.span11 {
    width: 837px;
  }
  .tb-megamenu input.span10,
  textarea.span10,
  .uneditable-input.span10 {
    width: 756px;
  }
  .tb-megamenu input.span9,
  textarea.span9,
  .uneditable-input.span9 {
    width: 675px;
  }
  .tb-megamenu input.span8,
  textarea.span8,
  .uneditable-input.span8 {
    width: 594px;
  }
  .tb-megamenu input.span7,
  textarea.span7,
  .uneditable-input.span7 {
    width: 513px;
  }
  .tb-megamenu input.span6,
  textarea.span6,
  .uneditable-input.span6 {
    width: 432px;
  }
  .tb-megamenu input.span5,
  textarea.span5,
  .uneditable-input.span5 {
    width: 351px;
  }
  .tb-megamenu input.span4,
  textarea.span4,
  .uneditable-input.span4 {
    width: 270px;
  }
  .tb-megamenu input.span3,
  textarea.span3,
  .uneditable-input.span3 {
    width: 189px;
  }
  .tb-megamenu input.span2,
  textarea.span2,
  .uneditable-input.span2 {
    width: 108px;
  }
  .tb-megamenu input.span1,
  textarea.span1,
  .uneditable-input.span1 {
    width: 27px;
  }
}
.tb-megamenu .hidden {
  display: none !important;
  visibility: hidden;
}

@media (max-width: 979px) {
  .tb-megamenu .always-show .mega > .mega-dropdown-menu,
  .tb-megamenu .always-show .dropdown-menu {
    display: block !important;
  }
}
@media (max-width: 979px) {
  .tb-megamenu {
    background-color: inherit;
    height: auto;
}
  .tb-megamenu .btn-navbar {
    display: block;
    margin-bottom: 10px;
  }
  .tb-megamenu .btn-navbar:hover {
    cursor: pointer;
  }
  .tb-megamenu .nav-collapse {
    background: #000;
    margin-top: 10px;
    position: absolute;
    top: 27px;
    width: 100%;
    z-index: 999;
  }
  .tb-megamenu .nav-collapse .nav {
    margin: 0;
  }
  .tb-megamenu .nav-collapse .nav > li > a,
  .tb-megamenu .nav-collapse .nav > li > span.tb-megamenu-no-link {
    font-size: 15px;
    margin-bottom: 0;
  }
  .tb-megamenu .nav-collapse .nav > li > a,
  .tb-megamenu .nav-collapse .dropdown-menu a,
  .tb-megamenu .nav-collapse .nav > li > span.tb-megamenu-no-link,
  .tb-megamenu .nav-collapse .dropdown-menu span.tb-megamenu-no-link {
    border-bottom: 1px solid #222;
    border-right: none;
    color: #fff;
    text-shadow: none;
    border-radius: 0;
  }
  .tb-megamenu .nav-collapse .dropdown-menu li + li a,
  .tb-megamenu .nav-collapse .dropdown-menu li + li span.tb-megamenu-no-link {
    margin-bottom: 0;
  }
  .tb-megamenu .nav-collapse .nav > li > a:hover,
  .tb-megamenu .nav-collapse .nav > li > a:focus,
  .tb-megamenu .nav-collapse .nav > li > span.tb-megamenu-no-link:hover,
  .tb-megamenu .nav-collapse .nav > li > span.tb-megamenu-no-link:focus {
    background-color: #fff;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    color: #e54e4b;
  }
  .tb-megamenu .nav-collapse .nav > li.active > a:hover,
  .tb-megamenu .nav-collapse .nav > li.active > a:focus,
  .tb-megamenu .nav-collapse .nav > li.active > span.tb-megamenu-no-link:hover,
  .tb-megamenu .nav-collapse .nav > li.active > span.tb-megamenu-no-link:focus {
    background-color: #e54e4b;
}
  .tb-megamenu .nav-collapse .dropdown-menu a {
    border-top: 1px solid #222;
    border-bottom: 0;
    font-weight: normal;
    padding: 10px 20px;
  }
  .tb-megamenu .nav-collapse .dropdown-menu a:hover,
  .tb-megamenu .nav-collapse .dropdown-menu a:focus,
  .tb-megamenu .nav-collapse .dropdown-menu span.tb-megamenu-no-link:hover,
  .tb-megamenu .nav-collapse .dropdown-menu span.tb-megamenu-no-link:focus {
    background-color: inherit;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
  .tb-megamenu .nav-collapse .dropdown-menu {
    margin: 0;
    padding: 0;
    background-color: #000;
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 100% !important;
  }
  .tb-megamenu .customization {
    display: none;
  }
  .tb-megamenu .tb-block .block-title {
    color: #fff;
}
}

@media (min-width: 980px) {
  .tb-megamenu.animate .mega > .mega-dropdown-menu {
    transition: all 400ms;
    backface-visibility: hidden;
    opacity: 0;
  }
  .tb-megamenu.animate .mega.animating > .mega-dropdown-menu {
    display: block!important;
  }
  .tb-megamenu.animate .mega.open > .mega-dropdown-menu,
  .tb-megamenu.animate .mega.animating.open > .mega-dropdown-menu {
    opacity: 1;
  }
  .tb-megamenu.animate.zoom .mega > .mega-dropdown-menu {
    transform: scale(0, 0);
    transform-origin: 20% 20%;
  }
  .tb-megamenu.animate.zoom .mega.open > .mega-dropdown-menu {
    transform: scale(1, 1);
  }
  .tb-megamenu.animate.elastic .level0 > .mega > .mega-dropdown-menu {
    transform: scale(1, 0);
  }
  .tb-megamenu.animate.elastic .mega > .mega-dropdown-menu {
    transform: scale(0, 1);
    transform-origin: 10% 0;
  }
  .tb-megamenu.animate.elastic .mega.open > .mega-dropdown-menu {
    transform: scale(1, 1);
  }
  .tb-megamenu.animate.slide .mega.animating > .mega-dropdown-menu {
    overflow: hidden;
  }
  .tb-megamenu.animate.slide .mega > .mega-dropdown-menu > div {
    transition: all 400ms;
    backface-visibility: hidden;
    margin-top: -100%;
  }
  .tb-megamenu.animate.slide .mega.open > .mega-dropdown-menu > div {
    margin-top: 0%;
  }
  .tb-megamenu.animate.slide .mega .mega > .mega-dropdown-menu {
    min-width: 0;
  }
  .tb-megamenu.animate.slide .mega .mega > .mega-dropdown-menu > div {
    min-width: 200px;
    margin-top: 0;
    margin-left: -500px;
  }
  .tb-megamenu.animate.slide .mega .mega.open > .mega-dropdown-menu > div {
    margin-left: 0;
  }
}

@media (max-width: 979px) {
  .tb-megamenu .mega-inner {
    padding: 10px 20px;
  }
  .tb-megamenu .row-fluid,
  .tb-megamenu .mega-dropdown-menu,
  .tb-megamenu .row-fluid [class*="span"] {
    width: 100% !important;
    min-width: 100% !important;
    left: 0 !important;
    margin-left: 0 !important;
    transform: none !important;
  }
  .tb-megamenu .row-fluid + .row-fluid {
    padding-top: 10px;
    border-top: 1px solid #222;
  }
  .tb-megamenu .hidden-collapse,
  .tb-megamenu .always-show  .caret,
  .tb-megamenu .sub-hidden-collapse > .nav-child,
  .tb-megamenu .sub-hidden-collapse .caret,
  .tb-megamenu .sub-hidden-collapse > a:after,
  .tb-megamenu .always-show .dropdown-submenu > a:after {
    display: none !important;
  }
  .tb-megamenu .mega-caption {
    display: none !important;
  }
  .tb-megamenu .mega-nav > li a,
  .tb-megamenu .dropdown-menu .mega-nav > li a,
  .tb-megamenu .mega-nav > li span.tb-megamenu-no-link,
  .tb-megamenu .dropdown-menu .mega-nav > li span.tb-megamenu-no-link {
    padding: 5px 0;
    margin-left: 20px;
  }
  .tb-megamenu .tb-block {
    margin-bottom: 0;
  }
}

.block-view-demo .views-field-title a {
  border-top: none !important;
  color: #eee;
  padding: 0 !important;
}

.tb-megamenu .block-view-demo .views-field-field-image {
  float: left;
}

.tb-megamenu .block-view-demo .views-field-field-image img {
  border: 1px solid #333;
  margin: 0 20px 0 0;
  max-width: none !important;
  padding: 4px;
  width: auto;
}

.tb-megamenu .block-view-demo .item-list ul li {
  border-bottom: 1px solid #333;
  margin: 0;
  min-height: 60px;
  padding: 10px 0;
}

.tb-megamenu .block-view-demo .item-list ul li.views-row-first {
  padding-top: 0;
}

.tb-megamenu .block-view-demo a {
  padding: 0 !important;
}

.tb-megamenu .block-view-demo .views-field-title a {
  border-top: none;
  color: #aaa;
  padding: 0;
}

.tb-megamenu .block-view-demo a:hover,
.tb-megamenu .block-view-demo a:focus {
  background: none !important;
  border: none !important;
  color: #e54e4b;
  text-decoration: none;
}
