$color-light-grey-1: #ccc;
$color-light-grey-2: #eee;
$color-medium-grey: #999;
$color-dark-grey: #333;
$color-dark-grey-2: #222;
$color-black: #000;
$color-white: #fff;
$color-red: #e54e4b;

// Colors with opacity.
$color-black-20-op: rgba($color-black, 0.2);

$dropdown-width: 25rem;

.tbm {
  background-color: $color-black;
}

// Top level menu items.
.tbm-item.level-1 {
  > .tbm-link-container {
    > .tbm-link,
    > .tbm-no-link {
      color: $color-white;
      padding: 1rem 1.25rem;
    }
  }

  // Items that are open (ie, submenu is visible).
  &.open {
    // Change the color of the immediate toggle, but not any further down the
    // chain.
    > .tbm-toggle {
      background-color: $color-white;
      color: $color-black;

      .caret {
        border-top-color: $color-black;
      }
    }
  }
}

// The caption that can appear below any <li>.
.tbm-caption {
  color: $color-medium-grey;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

// The <a> or <span> tag for any menu item that has a submenu.
.tbm-toggle {
  // The top-level drodown caret.
  .caret {
    border-top: 0.25rem solid $color-white;
    border-right: 0.25rem solid transparent;
    border-left: 0.25rem solid transparent;
  }
}

// The <div> around any submenu dropdown. This is a direct descendent child of
// the <li>.
.tbm-submenu {
  background-color: $color-white;
  border-radius: 0;
  border-top-width: 0;
  border: 1px solid $color-black-20-op;
  box-shadow: 0 5px 10px $color-black-20-op;
  width: $dropdown-width;
  padding: 1rem;

  .tbm-submenu {
    // Anything other than the 1st dropdown menu needs the top border.
    border-top-width: 1px;
  }
}

// Any <li> that has sub-links, other than at the top level.
.tbm-item--has-flyout {
  position: relative;

  // The carat that appears next to the menu item.
  .tbm-link,
  .tbm-no-link {
    &:after {
      border-width: 0.25rem 0 0.25rem 0.25rem;
      border-left-color: $color-light-grey-1;
    }
  }
}

// Any <ul> other than the top level.
.tbm-subnav {
  > .tbm-item {
    &:first-child {
      > .tbm-link-container {
        > .tbm-link,
        > .tbm-no-link {
          border-top: 0;
        }
      }
    }

    > .tbm-link-container {
      > .tbm-link,
      > .tbm-no-link {
        border-bottom: 0;
        border-top: 1px solid $color-light-grey-2;
        color: $color-dark-grey;
        display: block;
        line-height: 1.2;
        padding: 0.5rem 0;

        &:hover,
        &:focus {
          color: $color-red;
        }
      }
    }
  }
}

// The mobile show/hide button.
.tbm-button {
  appearance: none;
  border: 1px solid $color-black;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    background-color: $color-light-grey-1;
  }

  [class^='fa-'],
  [class*=' fa-'] {
    color: $color-dark-grey;
    margin: 0;
    text-shadow: none;
  }
}

// A .tbm-group is any <li> that has been designated as a "group" item, where
// the content within is not contained within a dropdown/submenu, but is instead
// always visible.

// The title of a .tbm-group.
.tbm-group-title {
  font-weight: bold;
  text-transform: uppercase;
}

// Mobile styles.
.tbm.tbm--mobile {
  background-color: transparent;

  // Colos for open top level menu items.
  .tbm-item.level-1 {
    border-top: 1px solid $color-white;

    &.open > .tbm-toggle {
      background-color: $color-black;
      color: $color-white;

      > .caret {
        border-top-color: $color-white;
      }
    }
  }

  // The wrapper around the entire menu.
  .tbm-collapse {
    background: $color-black;
  }

  // The <div> around any submenu dropdown. This is a direct descendent child of
  // the <li>.
  .tbm-submenu {
    box-shadow: none;

    .tbm-link,
    .tbm-no-link {
      padding: 1rem 1.25rem;
    }

    // The button that toggles the visibility of the submenu on mobile.
    .tbm-submenu-toggle {
      background-color: $color-white;
      color: currentColor;
      border-left: 1px solid currentColor;
    }
  }

  // The button that toggles the visibility of the submenu on mobile.
  .tbm-submenu-toggle {
    background-color: $color-black;
    color: $color-white;
    border-left: 1px solid $color-white;
  }

  // Any <ul> other than the top level.
  .tbm-subnav .tbm-subnav {
    border-top: 1px solid $color-dark-grey-2;
    margin-left: 1em;
  }

  .tbm-column-inner {
    padding: 0.25rem 0;
  }

  .tbm-block {
    margin-bottom: 0;
    padding: 0 1.25rem;
  }
}
