.tb-megamenu {
  .span12.mega-col-nav {
    .mega-inner {
      padding: 10px;
    }
  }
  .tb-block {
    margin-bottom: 10px;
    .block-title {
      margin-bottom: 0;
    }
    .block-ct {
      margin: 0;
      padding: 0;
    }
  }
  .nav {
    .caret {
      display: none;
    }
    > .dropdown {
      > .dropdown-toggle {
        .caret {
          display: inline-block;
        }
      }
    }
    [class^='fa-'],
    [class*='	fa-'] {
      margin-right: 5px;
    }
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-bottom: 0;
    list-style: none;
    > li {
      > a {
        display: block;
        &:hover {
          text-decoration: none;
          background-color: #eee;
        }
      }
      > span.tb-megamenu-no-link {
        display: block;
        &:hover {
          text-decoration: none;
          background-color: #eee;
        }
      }
    }
  }
  .dropdown-submenu {
    .caret {
      display: none;
    }
    &:hover {
      > a {
        text-decoration: none;
        color: #e54e4b;
        background-color: inherit;
        background-image: none;
        &:after {
          border-left-color: #fff;
        }
      }
      > span.tb-megamenu-no-link {
        text-decoration: none;
        color: #e54e4b;
        background-color: inherit;
        background-image: none;
        &:after {
          border-left-color: #fff;
        }
      }
      .dropdown-menu {
        display: block;
      }
    }
    position: relative;
    > .dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -6px;
      margin-left: -1px;
      border-radius: 0 6px 6px 6px;
    }
    > a,
    > span.tb-megamenu-no-link {
      &:after {
        display: block;
        content: ' ';
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #cccccc;
        margin-top: 5px;
        margin-right: -10px;
      }
    }
  }
  .mega-menu {
    .caret {
      display: none;
    }
  }
  .open {
    > .dropdown-menu {
      display: block;
    }
  }
  .dropup {
    .caret {
      border-top: 0;
      border-bottom: 4px solid #000;
      content: '\2191';
    }
    .dropdown-menu {
      top: auto;
      bottom: 100%;
      margin-bottom: 1px;
    }
  }
  .mega-align-left {
    > .dropdown-menu {
      left: 0;
    }
  }
  .mega-align-right {
    > .dropdown-menu {
      left: auto;
      right: 0;
    }
  }
  .mega-align-center {
    > .dropdown-menu {
      left: 50%;
      transform: translate(-50%);
    }
  }
  .dropdown-submenu.mega-align-left {
    > .dropdown-menu {
      left: 100%;
    }
  }
  .dropdown-submenu.mega-align-right {
    > .dropdown-menu {
      left: auto;
      right: 100%;
    }
  }
  .mega-align-justify {
    position: static;
    > .dropdown-menu {
      left: 0;
      margin-left: 0;
      top: auto;
    }
    > .dropdown-menu.span12 {
      width: 100%;
    }
  }
  .mega-caption {
    display: block;
    white-space: nowrap;
  }
  .fade {
    opacity: 0;
    transition: opacity 0.15s linear;
  }
  .fade.in {
    opacity: 1;
  }
  .collapse {
    position: relative;
    height: 0;
    overflow: visible;
    transition: height 0.35s ease;
  }
  .collapse.in {
    height: auto;
  }
  .close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    &:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      opacity: 0.4;
    }
  }
  button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
  }
  a.disabled {
    color: #999999;
    background-color: transparent;
    cursor: default;
    text-decoration: none;
    &:hover {
      color: #999999;
      background-color: transparent;
      cursor: default;
      text-decoration: none;
    }
  }
  span.tb-megamenu-no-link {
    &:hover {
      cursor: default;
    }
  }
  span.tb-megamenu-no-link.tb-megamenu-no-submenu {
    &:hover {
      color: inherit !important;
    }
  }
}
@media (max-width: 979px) {
  .tb-megamenu {
    .container-fluid {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
@media (max-width: 767px) {
  .tb-megamenu {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
@media (max-width: 480px) {
  .tb-megamenu {
    .btn-group.divider {
      display: none;
    }
    .btn {
      font-size: 11px;
      padding: 1px 4px 2px 4px;
    }
    .chzn-container {
      width: 99% !important;
      .chzn-results {
        width: 99% !important;
      }
    }
    .chzn-container-single {
      .chzn-drop {
        width: 99% !important;
      }
    }
    .btn-toolbar {
      > .btn-group {
        width: 99% !important;
        > .btn {
          width: 99% !important;
        }
      }
    }
    .login {
      .chzn-single {
        width: 222px !important;
      }
      .chzn-container {
        width: 230px !important;
      }
      .chzn-drop {
        width: 230px !important;
      }
    }
  }
}
@media (max-width: 738px) {
  .tb-megamenu {
    .nav-collapse {
      .nav {
        margin: 0;
        li {
          a {
            margin-bottom: 0;
            border-top: 1px solid #d9d9d9;
          }
          ul {
            li {
              ul.dropdown-menu {
                display: none !important;
              }
              &:hover {
                ul.dropdown-menu {
                  display: none !important;
                }
              }
            }
          }
        }
        > li {
          > a,
          > span.tb-megamenu-no-link {
            border-radius: 0;
          }
        }
      }
      .dropdown-menu {
        margin: 0;
        a,
        span.tb-megamenu-no-link {
          border-radius: 0;
        }
        li {
          + {
            li {
              a,
              span.tb-megamenu-no-link {
                margin-bottom: 0;
              }
            }
          }
        }
      }
      .caret {
        display: none !important;
      }
    }
    .nav-collapse.collapse.in {
      height: auto !important;
    }
  }
}
