/* line 1, scss/tb_megamenu.scss */
.tb-megamenu {
  background-color: #000;
}

/* line 4, scss/tb_megamenu.scss */
.tb-megamenu .row-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

/* line 9, scss/tb_megamenu.scss */
.tb-megamenu .row-fluid + .row-fluid {
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/* line 14, scss/tb_megamenu.scss */
.tb-megamenu .row-fluid [class*='span'] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 21, scss/tb_megamenu.scss */
.tb-megamenu .row-fluid .span12 {
  width: 100%;
}

/* line 24, scss/tb_megamenu.scss */
.tb-megamenu .row-fluid .span11 {
  width: 91.66666667%;
}

/* line 27, scss/tb_megamenu.scss */
.tb-megamenu .row-fluid .span10 {
  width: 83.33333333%;
}

/* line 30, scss/tb_megamenu.scss */
.tb-megamenu .row-fluid .span9 {
  width: 75%;
}

/* line 33, scss/tb_megamenu.scss */
.tb-megamenu .row-fluid .span8 {
  width: 66.66666667%;
}

/* line 36, scss/tb_megamenu.scss */
.tb-megamenu .row-fluid .span7 {
  width: 58.33333333%;
}

/* line 39, scss/tb_megamenu.scss */
.tb-megamenu .row-fluid .span6 {
  width: 50%;
}

/* line 42, scss/tb_megamenu.scss */
.tb-megamenu .row-fluid .span5 {
  width: 41.66666667%;
}

/* line 45, scss/tb_megamenu.scss */
.tb-megamenu .row-fluid .span4 {
  width: 33.33333333%;
}

/* line 48, scss/tb_megamenu.scss */
.tb-megamenu .row-fluid .span3 {
  width: 25%;
}

/* line 51, scss/tb_megamenu.scss */
.tb-megamenu .row-fluid .span2 {
  width: 16.66666667%;
}

/* line 54, scss/tb_megamenu.scss */
.tb-megamenu .row-fluid .span1 {
  width: 8.333333333%;
}

/* line 60, scss/tb_megamenu.scss */
.tb-megamenu .btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

/* line 75, scss/tb_megamenu.scss */
.tb-megamenu .btn:hover {
  color: #333333;
  background-color: #e6e6e6;
  color: #333333;
  text-decoration: none;
}

/* line 82, scss/tb_megamenu.scss */
.tb-megamenu .btn:focus {
  color: #333333;
  background-color: #e6e6e6;
  color: #333333;
  text-decoration: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 92, scss/tb_megamenu.scss */
.tb-megamenu .btn:active {
  color: #333333;
  background-color: #e6e6e6;
  background-color: #cccccc \9;
  outline: 0;
}

/* line 99, scss/tb_megamenu.scss */
.tb-megamenu .btn .caret {
  margin-top: 8px;
  margin-left: 0;
}

/* line 105, scss/tb_megamenu.scss */
.tb-megamenu .btn.active {
  color: #333333;
  background-color: #e6e6e6;
  background-color: #cccccc \9;
  outline: 0;
}

/* line 112, scss/tb_megamenu.scss */
.tb-megamenu .btn.disabled,
.tb-megamenu .btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  cursor: default;
  opacity: 0.65;
}

/* line 120, scss/tb_megamenu.scss */
.tb-megamenu [class^='fa-'],
.tb-megamenu [class*=' fa-'] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  margin-right: 5px;
  margin-top: 1px;
}

/* line 132, scss/tb_megamenu.scss */
.tb-megamenu .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  list-style: none;
  margin: 0;
}

/* line 140, scss/tb_megamenu.scss */
.tb-megamenu .nav span.tb-megamenu-no-link:hover {
  cursor: default;
}

/* line 146, scss/tb_megamenu.scss */
.tb-megamenu .nav span.tb-megamenu-no-link.tb-megamenu-no-submenu:hover {
  color: inherit !important;
}

/* line 151, scss/tb_megamenu.scss */
.tb-megamenu .nav > li {
  position: relative;
}

/* line 154, scss/tb_megamenu.scss */
.tb-megamenu .nav > li > a,
.tb-megamenu .nav > li > span.tb-megamenu-no-link {
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  display: block;
  font-weight: bold;
  height: 100%;
  padding: 15px 20px;
  text-shadow: none;
}

/* line 165, scss/tb_megamenu.scss */
.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover,
.tb-megamenu .nav > li > span.tb-megamenu-no-link:focus,
.tb-megamenu .nav > li > span.tb-megamenu-no-link:hover {
  background-color: #fff;
  color: #e54e4b;
  text-decoration: none;
  text-shadow: none;
  outline: none;
}

/* line 174, scss/tb_megamenu.scss */
.tb-megamenu .nav > li > a > img,
.tb-megamenu .nav > li > span.tb-megamenu-no-link > img {
  max-width: none;
}

/* line 182, scss/tb_megamenu.scss */
.tb-megamenu .nav .dropdown-toggle .caret {
  border-top-color: #666;
  border-bottom-color: #666;
  margin-left: 5px;
  margin-top: 8px;
}

/* line 189, scss/tb_megamenu.scss */
.tb-megamenu .nav .dropdown-toggle:active {
  outline: 0;
}

/* line 195, scss/tb_megamenu.scss */
.tb-megamenu .nav .dropdown-toggle:hover .caret, .tb-megamenu .nav .dropdown-toggle:focus .caret {
  border-top-color: #e54e4b;
  border-bottom-color: #e54e4b;
}

/* line 203, scss/tb_megamenu.scss */
.tb-megamenu .nav > .active > a,
.tb-megamenu .nav > .active > a:hover,
.tb-megamenu .nav > .active > a:focus,
.tb-megamenu .nav > .active > span.tb-megamenu-no-link,
.tb-megamenu .nav > .active > span.tb-megamenu-no-link:hover,
.tb-megamenu .nav > .active > span.tb-megamenu-no-link:focus {
  background-color: #e54e4b;
  color: #fff;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

/* line 219, scss/tb_megamenu.scss */
.tb-megamenu .nav .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

/* line 228, scss/tb_megamenu.scss */
.tb-megamenu .nav .dropdown.active > a:hover, .tb-megamenu .nav .dropdown.active > a:focus {
  cursor: pointer;
}

/* line 237, scss/tb_megamenu.scss */
.tb-megamenu .nav .dropdown.open.active > a:hover, .tb-megamenu .nav .dropdown.open.active > a:focus {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}

/* line 245, scss/tb_megamenu.scss */
.tb-megamenu .nav .dropdown.open.active .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 1;
}

/* line 254, scss/tb_megamenu.scss */
.tb-megamenu .nav .dropdown.active > .dropdown-toggle,
.tb-megamenu .nav .dropdown.open.active > .dropdown-toggle {
  background-color: #e54e4b;
  border-color: #444;
  color: #eee;
}

/* line 259, scss/tb_megamenu.scss */
.tb-megamenu .nav .dropdown.active > .dropdown-toggle .caret,
.tb-megamenu .nav .dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #eee;
  border-bottom-color: #eee;
}

/* line 267, scss/tb_megamenu.scss */
.tb-megamenu .nav > .dropdown.open.active > a:hover,
.tb-megamenu .nav > .dropdown.open.active > span.tb-megamenu-no-link:hover {
  background-color: #e54e4b;
  border-color: #444;
  color: #eee;
}

/* line 276, scss/tb_megamenu.scss */
.tb-megamenu .nav .dropdown.open .dropdown-toggle {
  outline: 0;
}

/* line 282, scss/tb_megamenu.scss */
.tb-megamenu .nav .dropdown.open > .dropdown-toggle {
  background-color: #fff;
  color: #e54e4b;
}

/* line 287, scss/tb_megamenu.scss */
.tb-megamenu .nav .dropdown.open > .dropdown-menu {
  display: block;
}

/* line 293, scss/tb_megamenu.scss */
.tb-megamenu .nav > .disabled > a {
  color: #999999;
}

/* line 295, scss/tb_megamenu.scss */
.tb-megamenu .nav > .disabled > a:hover, .tb-megamenu .nav > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  cursor: default;
}

/* line 305, scss/tb_megamenu.scss */
.tb-megamenu .caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: '';
}

/* line 318, scss/tb_megamenu.scss */
.tb-megamenu .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

/* line 337, scss/tb_megamenu.scss */
.tb-megamenu .dropdown-menu li > a,
.tb-megamenu .dropdown-menu li > span.tb-megamenu-no-link {
  border-bottom: 0;
  border-top: 1px solid #eee;
  color: #333;
  display: block;
  font-weight: normal;
  line-height: 20px;
  padding: 3px 20px;
  text-shadow: none;
  white-space: nowrap;
}

/* line 349, scss/tb_megamenu.scss */
.tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus,
.tb-megamenu .dropdown-menu li > span.tb-megamenu-no-link:hover,
.tb-megamenu .dropdown-menu li > span.tb-megamenu-no-link:focus {
  text-decoration: none;
  color: #e54e4b;
  background-color: inherit;
  background-image: none;
}

/* line 358, scss/tb_megamenu.scss */
.tb-megamenu .dropdown-menu li:first-child > a,
.tb-megamenu .dropdown-menu li:first-child > span.tb-megamenu-no-link {
  border-top: 0;
}

/* line 365, scss/tb_megamenu.scss */
.tb-megamenu .dropdown-menu .disabled > a,
.tb-megamenu .dropdown-menu .disabled > span.tb-megamenu-no-link {
  color: #999;
}

/* line 369, scss/tb_megamenu.scss */
.tb-megamenu .dropdown-menu .disabled > a:hover, .tb-megamenu .dropdown-menu .disabled > a:focus,
.tb-megamenu .dropdown-menu .disabled > span.tb-megamenu-no-link:hover,
.tb-megamenu .dropdown-menu .disabled > span.tb-megamenu-no-link:focus {
  color: #999;
  text-decoration: none;
  background-color: transparent;
  cursor: default;
  background-image: none;
}

/* line 381, scss/tb_megamenu.scss */
.tb-megamenu .dropdown-menu > .active > a,
.tb-megamenu .dropdown-menu > .active > span.tb-megamenu-no-link {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #0081c2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0088cc), to(#0077b3));
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
}

/* line 389, scss/tb_megamenu.scss */
.tb-megamenu .dropdown-menu > .active > a:hover,
.tb-megamenu .dropdown-menu > .active > span.tb-megamenu-no-link:hover {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #0081c2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0088cc), to(#0077b3));
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
}

/* line 397, scss/tb_megamenu.scss */
.tb-megamenu .dropdown-menu > .active > a:focus,
.tb-megamenu .dropdown-menu > .active > span.tb-megamenu-no-link:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #0081c2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0088cc), to(#0077b3));
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
}

/* line 410, scss/tb_megamenu.scss */
.tb-megamenu .dropdown-submenu {
  position: relative;
}

/* line 414, scss/tb_megamenu.scss */
.tb-megamenu .dropdown-submenu .caret {
  display: none;
}

/* line 420, scss/tb_megamenu.scss */
.tb-megamenu .dropdown-submenu > a:after,
.tb-megamenu .dropdown-submenu > span.tb-megamenu-no-link:after {
  display: block;
  content: ' ';
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

/* line 437, scss/tb_megamenu.scss */
.tb-megamenu .dropdown-submenu:hover > a,
.tb-megamenu .dropdown-submenu:hover > span.tb-megamenu-no-link, .tb-megamenu .dropdown-submenu:focus > a,
.tb-megamenu .dropdown-submenu:focus > span.tb-megamenu-no-link {
  text-decoration: none;
  color: #e54e4b;
  background-color: inherit;
  background-image: none;
}

/* line 444, scss/tb_megamenu.scss */
.tb-megamenu .dropdown-submenu:hover > a:after,
.tb-megamenu .dropdown-submenu:hover > span.tb-megamenu-no-link:after, .tb-megamenu .dropdown-submenu:focus > a:after,
.tb-megamenu .dropdown-submenu:focus > span.tb-megamenu-no-link:after {
  border-left-color: #eee;
}

/* line 449, scss/tb_megamenu.scss */
.tb-megamenu .dropdown-submenu:hover .dropdown-menu, .tb-megamenu .dropdown-submenu:focus .dropdown-menu {
  display: block;
}

/* line 454, scss/tb_megamenu.scss */
.tb-megamenu .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0;
}

/* line 463, scss/tb_megamenu.scss */
.tb-megamenu .hidden {
  display: none !important;
  visibility: hidden;
}

/* line 470, scss/tb_megamenu.scss */
.tb-megamenu .mega > .mega-dropdown-menu {
  min-width: 800px;
  display: none;
}

/* line 476, scss/tb_megamenu.scss */
.tb-megamenu .mega.open > .mega-dropdown-menu {
  display: block;
  overflow: visible;
  clip: auto;
  height: auto;
  width: auto;
}

/* line 486, scss/tb_megamenu.scss */
.tb-megamenu .mega.dropdown-submenu:hover > .mega-dropdown-menu {
  display: block;
  overflow: visible;
  clip: auto;
  height: auto;
  width: auto;
}

/* line 497, scss/tb_megamenu.scss */
.tb-megamenu .mega-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 502, scss/tb_megamenu.scss */
.tb-megamenu .mega-nav > li {
  display: block;
  float: none;
  list-style: none;
  margin-left: 0;
}

/* line 509, scss/tb_megamenu.scss */
.tb-megamenu .mega-nav > li:first-child > a,
.tb-megamenu .mega-nav > li:first-child > span.tb-megamenu-no-link {
  margin-top: 0;
  padding-top: 0;
}

/* line 516, scss/tb_megamenu.scss */
.tb-megamenu .mega-nav > li a,
.tb-megamenu .mega-nav > li span.tb-megamenu-no-link {
  padding: 5px 0;
  white-space: normal;
}

/* line 525, scss/tb_megamenu.scss */
.tb-megamenu .mega-inner {
  padding: 10px;
}

/* line 535, scss/tb_megamenu.scss */
.tb-megamenu .mega-group-title {
  background: inherit;
  font-weight: bold;
  padding: 0 0 0 10px;
  margin: 0;
  text-transform: uppercase;
}

/* line 541, scss/tb_megamenu.scss */
.tb-megamenu .mega-group-title:hover {
  background: inherit;
  color: inherit;
}

/* line 545, scss/tb_megamenu.scss */
.tb-megamenu .mega-group-title:active {
  background: inherit;
  color: inherit;
}

/* line 549, scss/tb_megamenu.scss */
.tb-megamenu .mega-group-title:focus {
  background: inherit;
  color: inherit;
}

/* line 557, scss/tb_megamenu.scss */
.tb-megamenu .mega-group-ct {
  margin: 0;
  padding: 0;
}

/* line 562, scss/tb_megamenu.scss */
.tb-megamenu .mega-group-ct > .row-fluid > [class*='span'] > .mega-inner {
  padding: 0;
}

/* line 570, scss/tb_megamenu.scss */
.tb-megamenu .mega-caption {
  display: block;
  white-space: nowrap;
  color: #999;
  font-size: 12px;
  margin-top: 3px;
  font-weight: normal;
}

/* line 581, scss/tb_megamenu.scss */
.tb-megamenu .mega-align-left > .dropdown-menu {
  left: 0;
}

/* line 587, scss/tb_megamenu.scss */
.tb-megamenu .mega-align-right > .dropdown-menu {
  left: auto;
  right: 0;
}

/* line 594, scss/tb_megamenu.scss */
.tb-megamenu .mega-align-center > .dropdown-menu {
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

/* line 601, scss/tb_megamenu.scss */
.tb-megamenu .dropdown-submenu.mega-align-left > .dropdown-menu {
  left: 100%;
}

/* line 607, scss/tb_megamenu.scss */
.tb-megamenu .dropdown-submenu.mega-align-right > .dropdown-menu {
  left: auto;
  right: 100%;
}

/* line 613, scss/tb_megamenu.scss */
.tb-megamenu .mega-align-justify {
  position: static;
}

/* line 616, scss/tb_megamenu.scss */
.tb-megamenu .mega-align-justify > .dropdown-menu {
  left: 0;
  margin-left: 0;
  top: auto;
}

/* line 622, scss/tb_megamenu.scss */
.tb-megamenu .mega-align-justify > .dropdown-menu.span12 {
  width: 100%;
}

/* line 628, scss/tb_megamenu.scss */
.tb-megamenu .tb-block {
  margin-bottom: 10px;
}

/* line 631, scss/tb_megamenu.scss */
.tb-megamenu .tb-block .block-title {
  font-size: 12px;
  color: #333;
  display: block;
  line-height: 20px;
  margin: 0 0 15px;
  text-transform: uppercase;
}

/* line 641, scss/tb_megamenu.scss */
.tb-megamenu .tb-block ul,
.tb-megamenu .tb-block .nav {
  margin: 0;
}

/* line 645, scss/tb_megamenu.scss */
.tb-megamenu .tb-block ul li,
.tb-megamenu .tb-block .nav li {
  background: none;
  list-style: disc;
  display: list-item;
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 654, scss/tb_megamenu.scss */
.tb-megamenu .tb-block ul li a,
.tb-megamenu .tb-block ul li span.tb-megamenu-no-link,
.tb-megamenu .tb-block .nav li a,
.tb-megamenu .tb-block .nav li span.tb-megamenu-no-link {
  display: inline;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  background: none;
  font: inherit;
  white-space: normal;
}

/* line 665, scss/tb_megamenu.scss */
.tb-megamenu .tb-block ul li a:hover, .tb-megamenu .tb-block ul li a:focus, .tb-megamenu .tb-block ul li a:active,
.tb-megamenu .tb-block ul li span.tb-megamenu-no-link:hover,
.tb-megamenu .tb-block ul li span.tb-megamenu-no-link:focus,
.tb-megamenu .tb-block ul li span.tb-megamenu-no-link:active,
.tb-megamenu .tb-block .nav li a:hover,
.tb-megamenu .tb-block .nav li a:focus,
.tb-megamenu .tb-block .nav li a:active,
.tb-megamenu .tb-block .nav li span.tb-megamenu-no-link:hover,
.tb-megamenu .tb-block .nav li span.tb-megamenu-no-link:focus,
.tb-megamenu .tb-block .nav li span.tb-megamenu-no-link:active {
  background: none;
  font: inherit;
}

/* line 677, scss/tb_megamenu.scss */
.tb-megamenu .btn-navbar {
  display: none;
  float: left;
  padding: 10px;
  margin: 0;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #e8e8e8;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}

/* line 688, scss/tb_megamenu.scss */
.tb-megamenu .btn-navbar:hover, .tb-megamenu .btn-navbar:focus, .tb-megamenu .btn-navbar:active, .tb-megamenu .btn-navbar.active, .tb-megamenu .btn-navbar.disabled, .tb-megamenu .btn-navbar[disabled] {
  color: #fff;
  background-color: #d9d9d9;
}

/* line 698, scss/tb_megamenu.scss */
.tb-megamenu .btn-navbar:active, .tb-megamenu .btn-navbar.active {
  background-color: #bfbfbf \9;
}

/* line 703, scss/tb_megamenu.scss */
.tb-megamenu .btn-navbar [class^='fa-'],
.tb-megamenu .btn-navbar [class^=' fa-'] {
  color: #666;
  text-shadow: none;
}

@media (max-width: 767px) {
  /* line 713, scss/tb_megamenu.scss */
  .tb-megamenu [class*='span'] {
    width: 100%;
  }
  /* line 716, scss/tb_megamenu.scss */
  .tb-megamenu .uneditable-input[class*='span'] {
    width: 100%;
  }
  /* line 720, scss/tb_megamenu.scss */
  .tb-megamenu .row-fluid [class*='span'] {
    width: 100%;
  }
  /* line 723, scss/tb_megamenu.scss */
  .tb-megamenu .row-fluid .span12 {
    width: 100%;
  }
  /* line 727, scss/tb_megamenu.scss */
  .tb-megamenu .span12 {
    width: 100%;
  }
  /* line 730, scss/tb_megamenu.scss */
  .tb-megamenu .input-large {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /* line 736, scss/tb_megamenu.scss */
  .tb-megamenu .input-xlarge {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /* line 742, scss/tb_megamenu.scss */
  .tb-megamenu .input-xxlarge {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /* line 748, scss/tb_megamenu.scss */
  .tb-megamenu input[class*='span'] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /* line 754, scss/tb_megamenu.scss */
  .tb-megamenu select[class*='span'] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /* line 760, scss/tb_megamenu.scss */
  .tb-megamenu textarea[class*='span'] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /* line 766, scss/tb_megamenu.scss */
  .tb-megamenu .uneditable-input {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /* line 773, scss/tb_megamenu.scss */
  .tb-megamenu .input-prepend input {
    display: inline-block;
    width: auto;
  }
  /* line 777, scss/tb_megamenu.scss */
  .tb-megamenu .input-prepend input[class*='span'] {
    display: inline-block;
    width: auto;
  }
  /* line 783, scss/tb_megamenu.scss */
  .tb-megamenu .input-append input {
    display: inline-block;
    width: auto;
  }
  /* line 787, scss/tb_megamenu.scss */
  .tb-megamenu .input-append input[class*='span'] {
    display: inline-block;
    width: auto;
  }
  /* line 795, scss/tb_megamenu.scss */
  .tb-megamenu .controls-row [class*='span'] + [class*='span'] {
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  /* line 806, scss/tb_megamenu.scss */
  .tb-megamenu input {
    margin-left: 0;
  }
  /* line 809, scss/tb_megamenu.scss */
  .tb-megamenu textarea {
    margin-left: 0;
  }
  /* line 812, scss/tb_megamenu.scss */
  .tb-megamenu .uneditable-input {
    margin-left: 0;
  }
  /* line 818, scss/tb_megamenu.scss */
  .tb-megamenu .controls-row [class*='span'] + [class*='span'] {
    margin-left: 20px;
  }
}

@media (min-width: 1200px) {
  /* line 829, scss/tb_megamenu.scss */
  .tb-megamenu input {
    margin-left: 0;
  }
  /* line 832, scss/tb_megamenu.scss */
  .tb-megamenu textarea {
    margin-left: 0;
  }
  /* line 835, scss/tb_megamenu.scss */
  .tb-megamenu .uneditable-input {
    margin-left: 0;
  }
  /* line 841, scss/tb_megamenu.scss */
  .tb-megamenu .controls-row [class*='span'] + [class*='span'] {
    margin-left: 30px;
  }
}

@media (max-width: 979px) {
  /* line 851, scss/tb_megamenu.scss */
  .tb-megamenu {
    background-color: inherit;
    height: auto;
  }
  /* line 857, scss/tb_megamenu.scss */
  .tb-megamenu .always-show .mega > .mega-dropdown-menu {
    display: block !important;
  }
  /* line 862, scss/tb_megamenu.scss */
  .tb-megamenu .always-show .dropdown-menu {
    display: block !important;
  }
  /* line 866, scss/tb_megamenu.scss */
  .tb-megamenu .always-show .caret {
    display: none !important;
  }
  /* line 873, scss/tb_megamenu.scss */
  .tb-megamenu .always-show .dropdown-submenu > a:after,
  .tb-megamenu .always-show .dropdown-submenu > span.tb-megamenu-no-link:after {
    display: none !important;
  }
  /* line 880, scss/tb_megamenu.scss */
  .tb-megamenu .hidden-collapse {
    display: none !important;
  }
  /* line 885, scss/tb_megamenu.scss */
  .tb-megamenu .sub-hidden-collapse > .nav-child {
    display: none !important;
  }
  /* line 888, scss/tb_megamenu.scss */
  .tb-megamenu .sub-hidden-collapse .caret {
    display: none !important;
  }
  /* line 892, scss/tb_megamenu.scss */
  .tb-megamenu .sub-hidden-collapse > a:after {
    display: none !important;
  }
  /* line 898, scss/tb_megamenu.scss */
  .tb-megamenu .row-fluid {
    width: 100% !important;
    min-width: 100% !important;
    left: 0 !important;
    margin-left: 0 !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
  /* line 905, scss/tb_megamenu.scss */
  .tb-megamenu .row-fluid [class*='span'] {
    width: 100% !important;
    min-width: 100% !important;
    left: 0 !important;
    margin-left: 0 !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
  /* line 912, scss/tb_megamenu.scss */
  .tb-megamenu .row-fluid + .row-fluid {
    padding-top: 10px;
    border-top: 1px solid #222;
  }
  /* line 918, scss/tb_megamenu.scss */
  .tb-megamenu .btn-navbar {
    display: block;
    margin-bottom: 10px;
  }
  /* line 922, scss/tb_megamenu.scss */
  .tb-megamenu .btn-navbar:hover {
    cursor: pointer;
  }
  /* line 927, scss/tb_megamenu.scss */
  .tb-megamenu .nav-collapse {
    background: #000;
    margin-top: 10px;
    position: absolute;
    top: 27px;
    width: 100%;
    z-index: 999;
    height: 0;
    overflow: hidden;
  }
  /* line 937, scss/tb_megamenu.scss */
  .tb-megamenu .nav-collapse .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* line 941, scss/tb_megamenu.scss */
  .tb-megamenu .nav-collapse .nav > li > a,
  .tb-megamenu .nav-collapse .nav > li > span.tb-megamenu-no-link {
    border-bottom: 1px solid #222;
    border-radius: 0;
    border-right: none;
    color: #fff;
    font-size: 15px;
    margin-bottom: 0;
    text-shadow: none;
    font-weight: bold;
    padding: 9px 15px;
  }
  /* line 953, scss/tb_megamenu.scss */
  .tb-megamenu .nav-collapse .nav > li > a:hover, .tb-megamenu .nav-collapse .nav > li > a:focus,
  .tb-megamenu .nav-collapse .nav > li > span.tb-megamenu-no-link:hover,
  .tb-megamenu .nav-collapse .nav > li > span.tb-megamenu-no-link:focus {
    background-color: #fff;
    color: #e54e4b;
  }
  /* line 963, scss/tb_megamenu.scss */
  .tb-megamenu .nav-collapse .nav > li.active > a:hover, .tb-megamenu .nav-collapse .nav > li.active > a:focus,
  .tb-megamenu .nav-collapse .nav > li.active > span.tb-megamenu-no-link:hover,
  .tb-megamenu .nav-collapse .nav > li.active > span.tb-megamenu-no-link:focus {
    background-color: #e54e4b;
  }
  /* line 972, scss/tb_megamenu.scss */
  .tb-megamenu .nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    float: none;
    display: none;
    max-width: none;
    margin: 0;
    padding: 0;
    background-color: #000;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100% !important;
  }
  /* line 987, scss/tb_megamenu.scss */
  .tb-megamenu .nav-collapse .dropdown-menu a,
  .tb-megamenu .nav-collapse .dropdown-menu span.tb-megamenu-no-link {
    border-bottom: 0;
    border-bottom: 1px solid #222;
    border-radius: 0;
    border-right: none;
    border-top: 1px solid #222;
    color: #fff;
    font-weight: normal;
    padding: 10px 20px;
    text-shadow: none;
  }
  /* line 999, scss/tb_megamenu.scss */
  .tb-megamenu .nav-collapse .dropdown-menu a:hover, .tb-megamenu .nav-collapse .dropdown-menu a:focus,
  .tb-megamenu .nav-collapse .dropdown-menu span.tb-megamenu-no-link:hover,
  .tb-megamenu .nav-collapse .dropdown-menu span.tb-megamenu-no-link:focus {
    background-color: inherit;
  }
  /* line 1005, scss/tb_megamenu.scss */
  .tb-megamenu .nav-collapse .dropdown-menu li + li a,
  .tb-megamenu .nav-collapse .dropdown-menu li + li span.tb-megamenu-no-link {
    margin-bottom: 0;
  }
  /* line 1011, scss/tb_megamenu.scss */
  .tb-megamenu .nav-collapse .btn {
    padding: 4px 10px 4px;
    font-weight: normal;
    border-radius: 4px;
  }
  /* line 1018, scss/tb_megamenu.scss */
  .tb-megamenu .nav-collapse .open > .dropdown-menu {
    display: block;
  }
  /* line 1025, scss/tb_megamenu.scss */
  .tb-megamenu .nav-collapse.in .btn-group {
    margin-top: 5px;
    padding: 0;
  }
  /* line 1031, scss/tb_megamenu.scss */
  .tb-megamenu .mega-inner {
    padding: 10px 20px;
  }
  /* line 1035, scss/tb_megamenu.scss */
  .tb-megamenu .mega-dropdown-menu {
    width: 100% !important;
    min-width: 100% !important;
    left: 0 !important;
    margin-left: 0 !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
  /* line 1045, scss/tb_megamenu.scss */
  .tb-megamenu .mega-nav > li a {
    padding: 5px 0;
    margin-left: 20px;
  }
  /* line 1049, scss/tb_megamenu.scss */
  .tb-megamenu .mega-nav > li span.tb-megamenu-no-link {
    padding: 5px 0;
    margin-left: 20px;
  }
  /* line 1059, scss/tb_megamenu.scss */
  .tb-megamenu .dropdown-menu .mega-nav > li a,
  .tb-megamenu .dropdown-menu .mega-nav > li span.tb-megamenu-no-link {
    padding: 5px 0;
    margin-left: 20px;
  }
  /* line 1068, scss/tb_megamenu.scss */
  .tb-megamenu .tb-block {
    margin-bottom: 0;
  }
  /* line 1071, scss/tb_megamenu.scss */
  .tb-megamenu .tb-block .block-title {
    color: #fff;
  }
}

@media (min-width: 980px) {
  /* line 1082, scss/tb_megamenu.scss */
  .tb-megamenu.animate .mega > .mega-dropdown-menu {
    -webkit-transition: all 400ms;
    transition: all 400ms;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
  }
  /* line 1089, scss/tb_megamenu.scss */
  .tb-megamenu.animate .mega.animating > .mega-dropdown-menu {
    display: block !important;
  }
  /* line 1094, scss/tb_megamenu.scss */
  .tb-megamenu.animate .mega.open > .mega-dropdown-menu {
    opacity: 1;
  }
  /* line 1099, scss/tb_megamenu.scss */
  .tb-megamenu.animate .mega.animating.open > .mega-dropdown-menu {
    opacity: 1;
  }
  /* line 1106, scss/tb_megamenu.scss */
  .tb-megamenu.animate.zoom .mega > .mega-dropdown-menu {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    -webkit-transform-origin: 20% 20%;
            transform-origin: 20% 20%;
  }
  /* line 1112, scss/tb_megamenu.scss */
  .tb-megamenu.animate.zoom .mega.open > .mega-dropdown-menu {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  /* line 1120, scss/tb_megamenu.scss */
  .tb-megamenu.animate.elastic .level0 > .mega > .mega-dropdown-menu {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  /* line 1126, scss/tb_megamenu.scss */
  .tb-megamenu.animate.elastic .mega > .mega-dropdown-menu {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: 10% 0;
            transform-origin: 10% 0;
  }
  /* line 1132, scss/tb_megamenu.scss */
  .tb-megamenu.animate.elastic .mega.open > .mega-dropdown-menu {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  /* line 1139, scss/tb_megamenu.scss */
  .tb-megamenu.animate.slide .mega.animating > .mega-dropdown-menu {
    overflow: hidden;
  }
  /* line 1145, scss/tb_megamenu.scss */
  .tb-megamenu.animate.slide .mega > .mega-dropdown-menu > div {
    -webkit-transition: all 400ms;
    transition: all 400ms;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    margin-top: -100%;
  }
  /* line 1152, scss/tb_megamenu.scss */
  .tb-megamenu.animate.slide .mega .mega > .mega-dropdown-menu {
    min-width: 0;
  }
  /* line 1154, scss/tb_megamenu.scss */
  .tb-megamenu.animate.slide .mega .mega > .mega-dropdown-menu > div {
    min-width: 200px;
    margin-top: 0;
    margin-left: -500px;
  }
  /* line 1163, scss/tb_megamenu.scss */
  .tb-megamenu.animate.slide .mega .mega.open > .mega-dropdown-menu > div {
    margin-left: 0;
  }
  /* line 1171, scss/tb_megamenu.scss */
  .tb-megamenu.animate.slide .mega.open > .mega-dropdown-menu > div {
    margin-top: 0%;
  }
}

/* line 1183, scss/tb_megamenu.scss */
.tb-megamenu .block-view-demo .views-field-title a {
  border-top: none !important;
  color: #eee;
  padding: 0 !important;
  border-top: none;
  color: #aaa;
  padding: 0;
}

/* line 1193, scss/tb_megamenu.scss */
.tb-megamenu .block-view-demo .views-field-field-image {
  float: left;
}

/* line 1196, scss/tb_megamenu.scss */
.tb-megamenu .block-view-demo .views-field-field-image img {
  border: 1px solid #333;
  margin: 0 20px 0 0;
  max-width: none !important;
  padding: 4px;
  width: auto;
}

/* line 1207, scss/tb_megamenu.scss */
.tb-megamenu .block-view-demo .item-list ul li {
  border-bottom: 1px solid #333;
  margin: 0;
  min-height: 60px;
  padding: 10px 0;
}

/* line 1214, scss/tb_megamenu.scss */
.tb-megamenu .block-view-demo .item-list ul li.views-row-first {
  padding-top: 0;
}

/* line 1220, scss/tb_megamenu.scss */
.tb-megamenu .block-view-demo a {
  padding: 0 !important;
}

/* line 1223, scss/tb_megamenu.scss */
.tb-megamenu .block-view-demo a:hover, .tb-megamenu .block-view-demo a:focus {
  background: none !important;
  border: none !important;
  color: #e54e4b;
  text-decoration: none;
}

/*# sourceMappingURL=maps/tb_megamenu.css.map */
