{% if css_style is defined %}
<style type="text/css">
  .tb-megamenu.animate .tb-megamenu-item > .mega-dropdown-menu, .tb-megamenu.animate.slide .tb-megamenu-item > .mega-dropdown-menu > div {
  {{ css_style }}
  }
</style>
{% endif %}
<div {{ attributes }}>
  {% if section == 'frontend' %}
    <button class="tb-megamenu-button" type="button">
      <i class="fa fa-reorder"></i>
    </button>
    <div class="tb-megamenu-collapse {{ block_config['always-show-submenu'] ? ' always-show' : '' }}">
  {% endif %}
  {{ content }}
  {% if section == 'frontend' %}
    </div>
  {% endif %}
</div>
